@font-face {
  font-family: intro;
  src: url('../fonts/intro.otf');
}
@font-face {
  font-family: futura;
  src: url('../fonts/Futura-CondensedMedium.ttf');
}
* {
  box-sizing: Border-box;
}
body {
  font-family: sans-serif;
  font-weight: 100;
  color: #333;
  margin: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 100;
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
p {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 320px) and (max-width: 600px) {
  p {
    font-size: 16px;
  }
}
div.full {
  margin: 0;
  padding: 70px 0;
}
div.container {
  max-width: 1170px;
  width: 98%;
  margin: 0 auto;
  position: relative;
  height: auto;
}
div.directions {
  color: #232f44;
  text-align: center;
  margin-bottom: -90px;
  margin-top: 50px;
  font-family: intro;
  text-transform: uppercase;
  font-size: 14pt;
}
div.directions img {
  margin-bottom: -10px;
}
div.directions p.light {
  color: white;
}
a.button {
  border-radius: 10px;
  background-color: #666;
  padding: 25px;
  color: white;
  display: block;
  max-width: 360px;
  text-transform: uppercase;
}
a.button.arrow-right {
  background-color: #f5941e;
  background-image: url('../images/arrow-right.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  text-decoration: none;
}
a.button.arrow-right:hover {
  background-color: #ff8c00;
}
div.full.nav {
  background-color: #232f44;
  color: white;
  overflow: hidden;
  padding: 15px 0 10px;
  font-family: intro;
  font-size: 18px;
}
div.full.nav a {
  color: #efb754;
  text-decoration: none;
  text-transform: uppercase;
}
div.full.nav p {
  float: left;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
}
div.full.nav p a {
  color: white;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.nav p {
    width: 100%;
    text-align: center;
    float: none;
    font-size: 16px;
  }
}
div.full.nav nav {
  float: right;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.nav nav {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
div.full.nav nav ul {
  margin: 0;
  padding: 0;
}
div.full.nav nav ul li {
  display: inline-block;
  margin-left: 30px;
  line-height: 18px;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.nav nav ul li {
    margin: 0;
  }
  div.full.nav nav ul li:nth-child(2) {
    margin: 0 15px;
  }
}
div.full.nav nav ul li a {
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.nav nav ul li a {
    font-size: 16px;
  }
}
div.full.hero {
  text-align: center;
  background-color: #aaa;
  background-image: url('../images/heroBG.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
div.full.hero img.logo {
  margin-bottom: 30px;
}
div.full.hero h1 {
  color: #efb754;
  font-size: 52pt;
  line-height: 60pt;
  margin: 0;
  font-family: intro;
  text-shadow: #232f44 5px 5px;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.hero h1 {
    font-size: 32pt;
    line-height: 42pt;
    text-shadow: #232f44 3px 3px;
  }
}
div.full.hero h2 {
  color: #7699b3;
  margin: 0;
  font-size: 22pt;
  font-family: futura;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.hero h2 {
    font-size: 16pt;
    line-height: 28pt;
  }
}
div.full.hero h3 {
  color: #232f44;
  font-size: 45pt;
  margin-top: 10px;
  font-family: futura;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.full.hero h3 {
    font-size: 26pt;
    line-height: 36pt;
  }
}
div.full.hero div.headers {
  background-color: rgba(35, 47, 68, 0.75);
  padding: 20px;
}
div.full.location {
  background-image: url('../images/map-bg.jpg');
  background-size: cover;
  background-position: bottom right;
}
div.full.location div.location-title {
  padding: 25px;
  border-bottom: solid 1px #7699b3;
}
div.full.location div.location-title h1,
div.full.location div.location-title h3 {
  margin: 0;
}
div.full.location div.location-title h1 {
  font-size: 42pt;
  color: white;
  font-family: intro;
}
div.full.location div.location-title h3 {
  font-size: 32px;
  color: #7699b3;
  font-family: futura;
}
div.full.location div.location-details {
  padding: 50px 25px;
  font-family: futura;
  color: white;
}
div.full.location div.location-details h2 {
  font-size: 28px;
}
div.full.location div.location-details h3 {
  font-size: 24px;
}
div.full.location div.location-details p {
  margin: 50px 0;
}
div.full.about {
  background-color: #888;
  color: white;
}
div.controls {
  text-align: justify;
}
div.controls a.category {
  text-align: left;
  display: inline-block;
  width: 23%;
  margin: 0px;
  background-color: #fff;
  border: solid 1px #333;
  color: #333;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.controls a.category {
    min-width: 100%;
    margin: 3px auto;
  }
}
@media (min-width: 601px) and (max-width: 860px) {
  div.controls a.category {
    min-width: 49.5%;
    margin: 3px 0px;
  }
}
div.controls a.category img {
  padding-right: 5px;
  border-right: solid 1px #333;
}
div.controls a.category.active {
  background-color: #888;
}
div.controls:after {
  content: '';
  display: inline-block;
  width: 100%;
}
div.student-list {
  text-align: justify;
  font-size: 0.1px;
  /*hide whitespace between elements*/
  margin-top: 25px;
}
div.student-list img.student {
  display: inline-block;
  width: 15%;
  margin-bottom: 15px;
}
@media (min-width: 320px) and (max-width: 600px) {
  div.student-list img.student {
    width: 44%;
  }
}
div.student-list img.break {
  width: 100%;
  height: 0;
}
div.student-list:after {
  content: '';
  display: inline-block;
  width: 100%;
}
